

body{
    background-color:#f2edeb;
}

h1{ 
    
    width:   100px;
    height:  100px;
    display: block;
    padding: 5px;
    border:solid 3px #025157;
    margin: 15px;

    color: orange;
    font-size: 24px;
   
}

h2{
    color: #025157;

    width:   100px;
    height:  100px;
    display: block;
    padding: 40px 15px 30px 320px;
    border:solid 3px #025157;
    margin-top: 15px;
}

h4{
    color:#8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

.parrafo{

    color: green;
}

p{
font-family: 'Franklin Gothic Medium';
font-size: 25px;
color: violet;

}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
  }

.logo{
width: 15%;
}

.navbar{
    width: 70%;
}

.accions{
    width: 15%;
}