
h1{ 
    /* Ejemplo CONTENEDOR:
    width: 100px;
    padding: 15px 5px 20px;
    border:solid 4px #025157;
    margin-top: 20px; */
    
    color: orange;
}
h4{
    color:#8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

.parrafo{

    color: green;
}
